<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="project_name" parallel="methods" thread-count="4">
    <test name="Smoke">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
    </test>

    <test name="Regression">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
    </test>

    <test name="e2e">
        <classes>
            <class name="lt.vcs.project_name.test"/>
        </classes>
    </test>
</suite>